.adjust-window{
  flex-grow: 1;
  padding-right: 1vw;
  display: flex;
  overflow-x: scroll;
  gap:5vw;
  padding-bottom: 2px;
  padding-top: 8vh;

} 

.todo-text{
  font-size: 3.5vh;
  padding: 4vh;
}

.todo-card{
  background-color: rgb(255, 249, 249);
  min-height: 300px;
  height: 45vh;
  aspect-ratio: 13/16;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  box-shadow:  0px 0px 5px rgba(0,0,0,0.15);
  transition: transform 0.2s,opacity 0.2s;
}

.card-color{
  flex: 1;
  width: 100%;
  border-top-left-radius:50px ;
  border-top-right-radius:50px ;
}

.todo-color-work{
  background-color: var(--work);
}
.todo-color-personal{
  background-color: var(--personal);
}.todo-color-health{
  background-color: var(--health);
}.todo-color-school{
  background-color: var(--school);
}
.todo-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex:4;
  width: 80%;
  margin-top: 4%;
}

.todo-content p{
  margin-top: 5%;
  margin-bottom: 2%;
  font-weight: 900;
  font-size: 2vh;
}

.todo-content div{
  font-weight: 500;
  font-size: 2vh;
  text-align: center;
}

.todo-content .todo-description {
  font-size: 1.4vh;
  height: 10vh;
  overflow: scroll;
}

.delete-todo{
  width: 18%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  margin-bottom: 3%;
  background-color: var(--red);
  cursor: pointer;
  transition: opacity 0.2s;
}

.delete-todo img{
  width: 55%;
  aspect-ratio: 1;
}

.delete-todo:hover{
  opacity: 0.7;
}


@media (max-height:600px) {
  .all-todo p{
    font-size: 10px;
  }
  .all-todo div{
    font-size: 10px;
  }
}

